@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family:'Montserrat',sans-serif; 

}
html{
    font-size: 80%;
}
body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color:#2A363B ;
    color: #FECEAB;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ded2c9;
    margin: 4em 0;
    padding: 1rem;
  }
header{
    margin-top: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 10%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 3rem;
    color: #E84A5F;
    font-weight: 1000;
    cursor: pointer;
    transition: 0.5s ease;
    z-index: 100;
}
.logo:hover{
    transform: scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,
nav a:active{
    color: #E84A5F;
    border-bottom: 3px solid #E84A5F;
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: #2A363B;
}
.home .home-content h1{
    font-size: 6rem;
    font-weight: 600;
    line-height: 1.3;
}
span{
    color:#E84A5F;
    border-bottom: 2px solid;
    font-weight: 900;
}
.home .home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 600;
}
.home-img{
    border-radius: 50%;

}
.home-img img{
    position: relative;
    width: 26vw;
    border-radius: 50%;
    box-shadow: 0 0 25px solid #E84A5F;
    cursor: pointer;
    transition: 0.2 linear;
}

.works-detail{
    font-size: 2rem;
    text-align: center;
}
.text{
    color: white;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 2rem;
    padding: 1rem;
}
.work-img img{
    position: relative;
    width: 32vw;
    height: 20vw;
}

.topic{
    color: #E84A5F;
}
.icon{
    color: white;
}
.ex{
    display: flex;
    position: relative;
    font-size: 4rem;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}
.num{
    font-size: 10rem;
    color: #E84A5F;
    border-bottom: 3px #E84A5F solid;
    margin-right: 2rem;
    font-weight: bolder;
}
.year{
    margin-right: 15rem;
    font-size: 3rem;
    font-weight: 300;
}
.apps{
    font-size: 3rem;
    color: white;
    font-weight: 200;
}
.content .boxes{
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 100px;
}
.content .boxes .box{
    margin:  10px 0;
    width: 50rem;
    text-align: center;
    border-radius: 12px;
    padding: 20px 10 px;
    color:  white;

}
.content .boxes .box .icon{
    margin: auto;
    height: 50px;
    width: 50px;
    background: #E84A5F;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
}
.content .boxes .box .topic{
    font-size: 30px;
    font-weight: 800;
    border-bottom: 3px #E84A5F solid;
}